div.ui-autocomplete-loading {
    background: #fff url('../images/loader.gif') no-repeat 97%;
}
 
div.autocomplete-suggestions {
    border-radius: 0px 0px 7px 7px;
}

div.autocomplete-suggestion {
    font-size: 11px;
    font-weight: 100px;
}

div.autocomplete-suggestion { white-space: nowrap; overflow: hidden; }
div.autocomplete-selected {
    background: #F0F0F0;
    border-radius: .3em; 
}
div.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #8E6161;
	background: #F4F148;
}
div.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


div.autocomplete-suggestions {
	display: inline-block;
	position: relative;
}

div.autocomplete-suggestions {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.autocomplete-suggestions:before {
	content: "";
	position: absolute;
	top: -.43em;
	left: 1em;
	width: 0; height: 0;
	padding: .4em;
	background: white;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

div.autocomplete-suggestion {
	position: relative;
	padding-left: .4em;
	padding-top: .2em;
	cursor: pointer; 
}